@model WebAppChernyavskiy.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Вход</h1>


<div class="row">
    <div class="col-md-4">
        <h4>Вход в учетную запись</h4>
        <hr />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        @if (!(Model.ExternalLogins == null)) {
            <h4>Вход с помощью внешних учетных записей</h4>
            <hr />
            <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <div>
                    @foreach (var provider in Model.ExternalLogins) {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                title="Login usin your @provider.DisplayName account">
                            @provider.DisplayName
                        </button>
                    }
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Register">Зарегистрироваться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
