@model WebAppChernyavskiy.Models.Collections.Collection

@{
    ViewData["Title"] = "Коллекция";
}

<h1 style="text-align:center">Страница коллекции</h1>

<div>
    
    <div class="row">
        <div class="col-md-5">
            <h4>Коллекция</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dd class="col-sm-4">
                    <div class="btn-group">
                        <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle">
                            Управление
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="btn btn-info" asp-controller="Collection" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a></li>
                            <li><a class="btn btn-danger" asp-controller="Collection" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <a class="btn btn-success" asp-controller="Collection" asp-action="AddItem" asp-route-collectionId="@Model.Id">Добавить айтем</a>
            <a class="btn btn-success" asp-controller="Collection" asp-action="ItemsList" asp-route-id="@Model.Id">Список айтейов</a>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5">
            <h4>Поле дополнительной информации </h4>
            <hr />
            <form asp-action="SaveText">
                <textarea rows="4" cols="40" asp-for="Text"></textarea>
                <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />
                <input asp-for="Name" class="form-control" type="hidden" value="@Model.Name" />
                <input asp-for="TopicId" class="form-control" type="hidden" value="@Model.TopicId" />
                <input asp-for="UserId" class="form-control" type="hidden" value="@Model.UserId" />
                <input class="btn btn-primary" type="submit" value="Сохранить">
            </form>
        </div>
    </div>
</div>
