@model IEnumerable<WebAppChernyavskiy.Models.Account.User>

<h2>Список пользователей</h2>
<a class="btn btn-sm btn-primary" asp-area="" asp-controller="Users" asp-action="RolesList">Управления ролями</a>
<br />
<table class="table">
    @foreach (var user in Model) {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                <a class="btn btn-sm btn-primary" asp-action="LockOut" asp-route-userid="@user.Id">Блокировка</a>
                <a class="btn btn-sm btn-primary" asp-action="UnLock" asp-route-userid="@user.Id">Разблокировать</a>
            </td>
            <td>
                <form asp-action="DeleteUser" asp-route-userid="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>